<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tindy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76F7DC5A1E95DA0500D8363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76F7DC6E1E95DA0500D8363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76F7DC791E95DA0500D8363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
